:root {
    --SteelBlue: #4682B4;
    --White: #FFFFFF;
    --Black: #000000;
    --MediumSlateBlue: #7B68EE;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--SteelBlue);
}
.header_items {
    width: 100%;
    display: flex;
    place-content: center space-between;
}
.h_item {
    width: 50px;
    height: 50px;
}
.header_item {
    margin-left: 30px;
}