:root {
    --Khaki: #A99985;
    --White: #FFFFFF;
    --Black: #000000;
    --MediumSlateBlue: #7B68EE;
    --Bone: #DAD2BC;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Khaki);
}
.header_items {
    width: 100%;
    display: flex;
    place-content: center space-between;
    align-items: center;
}
.logo {
    text-align: center;
    width: 120px;
    height: 120px;
    color: var(--Black);
    text-decoration: none;
    margin: 0 0 0 10px;
}
.h_item {
    width: 40px;
    height: 40px;
}
.header_item {
    margin-left: 30px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--Bone);
}
.promo_section {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
}
.promo_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: var(--White);
}
.t-shirt {
    width: 160px;
    height: 100%;
}
.leagues_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.leagues_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}
.leagues_browser {
    width: 100%;
    height: 25px;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
    background-color: var(--Khaki);
    border-radius: 10px;
    /*flex-direction: column;*/
}
.leagues_browser button {
    width: 70px;
    background-color: var(--Bone);
    border: none;
    border-radius: 10px;
}
.leagues_logos {
    display: grid;
    place-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 10px;
    margin: 20px 0 0 0;
}
.league_card {
    background-color: var(--Black);
    width: 84px;
    height: 120px;
}